/* Header styling */
.header-fixed {
    position: fixed;
    width: 100vw; /* A largura do header será igual à largura da viewport */
    top: 0;
    left: 0;
    z-index: 1000; /* Garantir que o header fique sobre os outros elementos */
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra leve para destaque */
    border-bottom-left-radius: 5rem;
    border-top-left-radius: 5rem;
}

.container {
    padding-top: 80px; /* Compensar a altura do header fixo */
}

/* Mobile Menu */
.mobile-menu {
    display: initial;
    z-index: 3;
}

.mobile-menu-content {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    padding-top: 2.25rem;
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
}

.mobile-menu-content ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.mobile-menu-content a {
    font-size: var(--fs-lg);
}

/* Desktop-only Styles */
@media (min-width: 1280px) {
    .desktop-only {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu-content {
        display: none;
    }
}

.reverse-color {
    color: var(--primary-color);
}

.reverse-color:hover {
    color: var(--third-text-color);
}

.ml-lg {
    margin-right: 2.875rem;
}
